{% extends 'base.html' %}

{% block title %}
	About - {{ block.super }}
{% endblock %}

{% block headernavul %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li><a href="{% url 'about' %}" class='selected'>About</a></li>
	<li><a href="{% url 'contact' %}">Contact</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url 'profile' %}">Profile</a></li>
	<li><a href="{% url 'plantinfo' %}">Plant Info</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
	<li><a href="{% url 'register' %}">Register </a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
{% endblock %}

{% block bodycontent %}
	<h2>About</h2>
	<p> Bona Petite is the leader in arduino board farming techniques! </p>
	<p>The hardware setup runs on a special subset of C/C++ which is designed for use with Arduino boards. We also have a RaspberryPi board working as a communication device running a python reader which interprets the data from the Arduino and sends it to our Heroku built page.</p>
{% endblock %}
