{% extends 'base.html' %}
{% block title %}About - {{ block.super }}{% endblock %}
{% block content %}
		<h1> About Bona Petite! </h1>
		<p> Bona Petite is the leader in arduino board farming techniques! </p>
		<p>The hardware setup runs on a special subset of C/C++ which is designed for use with Arduino boards. We also have a RaspberryPi board working as a communication device running a python reader which interprets the data from the Arduino and sends it to our Heroku built page.</p>
{% endblock %}