{% extends 'base.html' %}

{% block title %}
	Contact {{ block.super }}
{% endblock %}

{% block headernavul %}
	<li><a href="{% url 'index' %}" class='button'>Home</a></li>
	<li><a href="{% url 'about' %}" class='button'>About</a></li>
	<li><a href="{% url 'contact' %}" class='button' id='selected'>Contact</a></li>
{% endblock %}

{% block headernavreg %}
	{{ block.super }}
{% endblock %}

{% block bodycontent %}
		<h3>Fund/Hire/Contact Us!</h3>
		<p> Greg Johnston: greg.a.johnston@gmail.com</p>
		<p> David Mohrmann: dtmohrmann@gmail.com</p>
		<p> Scott Robertson: the.scott.rob@gmail.com</p>
		<p> Byron Wall: byrondevonwall@gmail.com</p>
{% endblock %}

{% block javascipt %}
{% endblock %}
