{% extends 'base.html' %}

{% block title %}
	Plant Info - {{ block.super }}
{% endblock %}

{% block headernavul %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="{% url 'contact' %}">Contact</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url 'plantinfo' %}" class='selected'>Plant Info</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
	<li><a href="{% url 'register' %}">Register </a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
{% endblock %}

{% block bodycontent %}
	{% if user.is_authenticated %}
	<h2> Bona Petite, {{user.username}}!</h2>
		<h3>Latest Data<h3>
		<p>Time Collected: {{latest.time_collected}}</p>
		<p>EC Level: {{latest.pH_level}}S</p>
		<p>Temperature: {{latest.temperature}}°C</p>
	{% endif %}
{% endblock %}
