{% load staticfiles %}
{% extends 'base.html' %}

{% block title %}
	Plant Info - {{ block.super }}
{% endblock %}

{% block headernavul %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="{% url 'contact' %}">Contact</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url 'plantinfo' %}" class='selected'>Plant Info</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
	<li><a href="{% url 'register' %}">Register </a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
{% endblock %}

{% block bodycontent %}
	{% if user.is_authenticated %}
	<h3> Bona Petite, {{user.username}}!</h3>
	<!-- change this to allow whatever crop_Type is selected to be inserted -->
		<h3>Latest Reading for Bibb Lettuce<h3>
		<p>Time Collected: {{latest.time_collected}}</p>

		<p>EC Level: {{latest.pH_level}}S</p>

		<p>Temperature: {{latest.temperature}}°C</p>
		{% csrf_token %}
		<div id="temp-graph"></div>
		{% csrf_token %}
		<div id="ec-graph"></div>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
