{% extends 'base.html' %}

{% block title %}
	Register for {{ block.super }}
{% endblock %}

{% block headernavul %}
	{{block.super}}
{% endblock %}

{% block headernavreg %}
	{% if user.is_authenticated %}
	<li><a href="{% url 'plantinfo' %}" class='button'>Plant Info</a></li>
	<li><a href="{% url 'logout' %}" class='button'>Logout</a></li>
	{% else %}
	<li><a href="{% url 'register' %}" class='button' id='selected'>Register</a></li>
	<li><a href="{% url 'login' %}" class='button'>Login</a></li>
	{% endif %}
{% endblock %}

{% block bodycontent %}
	<h1>Registration</h1>
	<br/>
    {% if registered %}
    <strong>Bona Petite Welcomes You!</strong>
    <a href="{% url 'login' %}">Login</a>
    {% else %}
    <form id="user_form" method="post" action="/register/"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
    </form>
    {% endif %}
{% endblock %}

{% block javascipt %}
{% endblock %}
