#ec-graph, #temp-graph{
  font-size: .6em;
  font-family: sans-serif;
  text-transform: none;
  margin: auto;
  width: 800px;
}

path{
  stroke: black;
  stroke-width: none;
  fill: none;
}

.axis path, .axis line{
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.tempTooltip{
  background-color: limegreen;
  box-shadow: 0 0 5px #999999;
  color: white;
  left: 130px;
  padding: 10px;
  position: absolute;
  top: 95px;
  width: 170px;
  z-index: 10;
  border-radius: .5em;
}
