/*****************************
 * CONTENT                   *
 *****************************/

* {
    margin: 0;
}

html {
    height: 100%;
}

body{
    font-family: 'Raleway', serif;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
    max-width: 1000px;
    font-size: 1.25em;
    padding-top: 5px;
    text-align: center;
}

h1 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: .2em;
    text-transform: uppercase;
}

h2 {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: normal;
    line-height: .8em;
    letter-spacing: .1em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



/****************************
NAVIGATION
****************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 5px 5px;
}

nav a {
    font-weight: 800;
    padding: 5px 10px;
}

nav ul a.selected {
    color: blue !important;
    font-weight: bold;
}


/****************************
COLORS
****************************/

/* dark green background | white text */
body {
    background-color: #233A14;
    color: #FFF;
}

/* white text */
a {
    color: #FFF;
}

/* light gray text */
nav a, nav a:visited{
    color: #DDD;
}

/* light green text */
nav a.selected, nav a:hover {
    color: #42DCA3;
}
