/*****************************
 * GENERAL                   *
 *****************************/

* {
    margin: 0;
}

html {
    min-height: 450px;
    min-width: 300px;
    overflow:scroll;
}

body{
    min-height: 1600px;
    min-width: 100%;
    font-family: 'Raleway';
}

.push {
    height: 4em;
}

#wrapper {
    height: auto !important;
    height: 100%;
    min-height: 450px;
    min-width: 320px;
    margin: 125px auto -5em;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}



/****************************
 * HEADER                   *
 ****************************/

header {
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    border-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    position: fixed;
    top: 0;
}

#logo-link {
    position: absolute;
    left: 0px;
    top: 5px;
    margin: 10px 5px 10px 15px;
    width:60%;
    width: 200px;
}

#logo-navs {
    position: absolute;
    min-width:150px;
    height: 60px;
    left: 30%;
    top: 25%;
    min-width:150px;
    margin-right: 10px;
    margin-left: 10px;
}

#logo-navs li {
    display: inline-block;
    padding: 5px 5px 0px 5px;
}

#logo-buttons {
    position: absolute;
    right: 0px;
    top: 25%;
    min-width:150px;
    margin-right: 10px;
}

#logo-buttons li {
    display: inline-block;
    padding: 5px 5px 0px 5px;
}

h1 {
    width: 90%;
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 1.75em;
    text-align: center;
    line-height: 1em;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h2 {
    max-width: 350px;
    min-width: 190px;
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: .75em;
    text-align: left;
    line-height: 1em;
    letter-spacing: .03em;
    text-transform: uppercase;
}



/****************************
 * CONTENT                  *
 ****************************/

h3 {
    margin: .1em 0 .3em 0;
    font-size: 1.1em;
    font-weight: normal;
    line-height: .9em;
    letter-spacing: .05em;
    text-transform: uppercase;
}

p {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1em;
    text-transform: none;
}



/****************************
 * PLANT INFO               *
 ****************************/

#plantintro {
    font-size: 2em;
    margin-left: 23%;
}


#plantheader li {
    display: inline-block;
    min-height: 50px;
}

#plantheaderitemone {
    float: left;
    margin-left: 21%;
    font-size: 1em;
}

#plantheaderitemone h2 {
    font-size: 2em;
}

#plantheaderitemtwo {
    float: right;
    margin-right: 22%;
    font-size: 1em;
}

#plantheaderitemtwo p {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.3em;
    text-transform: none;
}

.planttext {
    background: white;
    border: 1px solid #42DCA3;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #42DCA3;
    color: #666;
    outline: none;
    height:20px;
    padding: 15px;
    /*width: 275px;*/
}


/****************************
NAVIGATION
****************************/

a.button {
    -webkit-appearance: initial;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-left: 0px;
    border-style: solid;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80px;
    height: 40px;
}



/****************************
 * FOOTER                   *
 ****************************/

/*NOTHING YET*/



/****************************
 * COLORS                   *
 ****************************/

/* white default background */
html {
    background-color: #FFF;
}

/* white body background | black text */
body {
    background-color: #FFF;
    color: #000;
}

/* very dark green header background | medium lime green border */
header {
    background: #010;
    color: #2A3;
}

/* very dark green nav background */
nav {
    background: #010;
}

/* medium green logo */
h1, h2 {
    color: #2A3;
}

/* black body headers */
h3 {
    color: #000;
}

/* very dark green button background */
nav a.button {
    color: #2A3;
    background-color: #010;
    border-color: #010;
}

/* light green links | white border */
nav a.button:hover, #selected {
    color: #42DCA3;
}

nav a.button:active {
    border-color: #42DCA3;
}
