/*****************************
 * GENERAL                   *
 *****************************/

* {
    margin: 0;
}

html {
    height: 100% !important;
    min-height: 450px;
    min-width: 300px;
    overflow:scroll;
}

body{
    height: 100%;
    font-family: 'Raleway', serif;
}

.push {
    height: 4em;
}

#wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    max-width: 90%;
    min-width: 320px;
    margin: 0 auto -5em;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}



/****************************
 * HEADER                   *
 ****************************/

header {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    border-bottom: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
}

#logo {
    float: left;
    width:100%;
}

#logo-text {
    float: left;
    margin: 10px 5px 10px 15px;
    width:60%;
    width: 200px;
}

#logo-buttons {
    float: right;
    min-width:150px;
    margin-right: 10px;
}


h1 {
    max-width: 350px;
    width: 190px;
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 1.75em;
    text-align: left;
    line-height: 1em;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h2 {
    max-width: 350px;
    min-width: 190px;
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: .75em;
    text-align: left;
    line-height: 1em;
    letter-spacing: .03em;
    text-transform: uppercase;
}

a.button {
    -webkit-appearance: initial;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: #233A14;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    width: 60px;
}



/****************************
 * CONTENT                  *
 ****************************/

h3 {
    margin: .1em 0 .3em 0;
    font-size: 1.1em;
    font-weight: normal;
    line-height: .9em;
    letter-spacing: .05em;
}

p {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1em;
}



/****************************
NAVIGATION
****************************/

nav {
    display: block;
    height: 60px;
    text-align: center;
    margin: 75px 0 0;
    padding: 10px 0;
    height: 30px;
}

nav ul {
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 5px 5px;
}

nav a {
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
}



/****************************
 * FOOTER                   *
 ****************************/

/*NOTHING YET*/



/****************************
 * COLORS                   *
 ****************************/

/* white text default */
html {
    color: #FFF;
}

/* dark green background | white text */
body {
    background-color: #233A14;
    color: #FFF;
}

/* dark green header background | white border */
header {
    background: #233A14;
    border-color: #FFF;
}

/* dark green logo background */
#logo {
    background: #233A14;
}

/* medium green nav background */
nav {
    background: #259A48;
}

/* white logo */
h1, h2 {
    color: #FFF;
}

/* light gray nav links */
nav a, nav a:visited{
    color: #FF9;
}

/* light green text */
a.button:hover, nav a.selected, nav a:hover {
    color: #42DCA3;
    border-color: #FFF;
}

/* medium green button background */
a.button {
    background-color: #259a48;
}
